
.contact
{
	background: url("../img/slide_4.jpg") 0 0 no-repeat;

	#map
	{
		max-width: 965px;
		width: 100%;
		margin: 0 auto;
		margin-top: 54px;
		background-color: white;
		
	}

	.contact-wrapper
	{
		margin: 0 auto;
		padding: 0;
		max-width: 1035px;
		font-family: RobotoRegular;

		.contact-left
		{
			width: 50%;
			float: left;
			top: -150px;
			position: relative;

			form
			{
				max-width: 520px;
				width: 100%;
				position: relative;
				padding: 32px 35px;
				background: url("../img/form_back.png") 0 0 repeat;

				h3
				{
					font-family: RobotoLight;
					font-size: 30px;
					color: #dd0009;
				}

				input[type="text"], input[type="email"]
				{
					border: none;
					float: left;
					outline: none;
					background-color: transparent;
					background-image: none;
					border-bottom: 1px solid #c7c7c7;
					width: 46.5%;
					font-size: 14px;
					color: #515151;
					padding: 10px 0;
					margin-top: 25px;
				}

				.left-m
				{
					margin-left: 7%;
				}

				input[type="submit"]
				{
					border: none;
					outline: none;
					background-color: #dd0008;
					border: none;
					max-width: 295px;
					width: 100%;
					font-family: RobotoBold;
					font-size: 16px;
					text-transform: uppercase;
					color: #ffffff;
					padding: 20px 0;
					margin-top: 34px;
				}
			}
		}

		.contact-right
		{
			width: 50%;
			float: left;
			max-width: 482.5px;
			padding: 30px 35px;
			background: black url("../img/footer_back.png") center right no-repeat;

			h2
			{
				font-family: RobotoLight;
				font-size: 30px;
				color: #ffffff;
			}

			p
			{
				font-family: RobotoRegular;
				font-size: 12px;
				line-height: 18px;
				color: #b9b9b9;

				&:nth-child(3)
				{
					padding-top: 25px;
				}

				a
				{
					text-decoration: none;
					color: #b9b9b9;
				}
			}

		}
	}
}
