
.service
{
	background: url("../img/slide_2.jpg") 0 0 no-repeat;

	.service-slider
	{
		height: 100%;

		.slick-prev, .slick-next 
		{
			position: absolute;
			display: block;
			height: 27px;
			width: 14px;
			line-height: 0px;
			font-size: 0px;
			cursor: pointer;
			color: transparent;
			top: 50%;
			margin-top: 13.5px; 
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			padding: 0;
			border: none;
			outline: none;

			&:hover
			{
				opacity: 0.7;
			}

		}

		.slick-prev 
		{
			z-index: 999;
		    left: 15px;
		    background: url("../img/login_slider_left.png") 0 0 no-repeat;
		}

		.slick-next 
		{
			z-index: 999;
		    right: 15px;
		    background: url("../img/login_slider_right.png") 0 0 no-repeat;
		}

		.slick-dots
		{
		    display: block;
		    position: absolute;
		    bottom: 0;
		    background-color: #f4f4f4;
		    width: 100%;
		    padding: 0;

		    list-style: none;

		    text-align: center;
		}

		.slick-dots li
		{
		    position: relative;

		    display: inline-block;
		    vertical-align: top;

		    max-width: 102.4px;
		    width: 100%;
		    height: 140px;
		    margin: 0;
		    padding: 0;
		    cursor: pointer;

		    &.slick-active
		    {
			    &:nth-child(1) button
			    {
			    	background: #dd0008 url("../img/arhiva_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(2) button
			    {
			    	background: #dd0008 url("../img/clipping_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(3) button
			    {
			    	background: #dd0008 url("../img/diggest_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(4) button
			    {
			    	background: #dd0008 url("../img/alert_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(5) button
			    {
			    	background: #dd0008 url("../img/analiza_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(6) button
			    {
			    	background: #dd0008 url("../img/monitoring_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(7) button
			    {
			    	background: #dd0008 url("../img/social_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(8) button
			    {
			    	background: #dd0008 url("../img/istrazivanja_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(9) button
			    {
			    	background: #dd0008 url("../img/prevod_ico_over.png") center 25% no-repeat;
			    }

			    &:nth-child(10) button
			    {
			    	background: #dd0008 url("../img/transkript_ico_over.png") center 25% no-repeat;
			    }
		    }

		    &:nth-child(1)
		    {
		    	background: transparent url("../img/arhiva_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(2)
		    {
		    	background: transparent url("../img/clipping_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(3)
		    {
		    	background: transparent url("../img/diggest_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(4)
		    {
		    	background: transparent url("../img/alert_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(5)
		    {
		    	background: transparent url("../img/analiza_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(6)
		    {
		    	background: transparent url("../img/monitoring_ico.png") center 25% no-repeat;
		    }


		    &:nth-child(7)
		    {
		    	background: transparent url("../img/social_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(8)
		    {
		    	background: transparent url("../img/istrazivanja_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(9)
		    {
		    	background: transparent url("../img/prevod_ico.png") center 25% no-repeat;
		    }

		    &:nth-child(10)
		    {
		    	background: transparent url("../img/transkript_ico.png") center 25% no-repeat;
		    }


		}

		.slick-dots li button
		{
		    font-size: 14px;
		    margin: 0;
		    padding: 60% 0 0 0;
		    font-family: RobotoBold;
		    line-height: normal;
		    display: block;
		    max-width: 102.4px;
		    width: 100%;
		    height: 140px;
		    cursor: pointer;

		    color: black;
		    border: 0;
		    outline: none;
		    background: transparent;
		}

		.slick-dots li.slick-active button
		{
		    color: white;
		    background-color: #dd0008;
		}

		h3
		{
			text-align: center;
			color: white;
			margin: 0 auto;
			max-width: 325px;
			width: 100%;
			font-family: RobotoLight;
			padding-top: 40px;
			font-size: 33px;
		}

		p
		{
			text-align: center;
			color: white;
			margin: 0 auto;
			padding-top: 25px;
			max-width: 325px;
			font-family: RobotoRegular;
			font-size: 14px;
			line-height: 22px;
		}


		.transkript
		{
			background: url("../img/transkript.jpg") center center no-repeat;
		}

		.arhiva
		{
			background: url("../img/arhiva.jpg") center center no-repeat;
		}

		.clipping
		{
			background: url("../img/clipping.jpg") center center no-repeat;
		}

		.diggest
		{
			background: url("../img/diggest.jpg") center center no-repeat;
		}

		.alert-clipping
		{
			background: url("../img/alert.jpg") center center no-repeat;
		}

		.analiza
		{
			background: url("../img/analiza.jpg") center center no-repeat;
		}

		.monitoring
		{
			background: url("../img/monitoring.jpg") center center no-repeat;
		}

		.istrazivanja
		{
			background: url("../img/istrazivanja.jpg") center center no-repeat;
		}

		.prevod
		{
			background: url("../img/prevod.jpg") center center no-repeat;
		}

		.transkript, .arhiva, .clipping, .diggest, .alert-clipping, .analiza, .monitoring,
		.social, .istrazivanja, .prevod
		{
		    width: 100%;
		    margin: 0 auto;
		    /*min-height: 470px;*/
		    margin-top: 54px;
		    position: relative;

		    .inner-holder
		    {
		    	background: url("../img/circle.png") 0 0 no-repeat;
		    	width: 468px;
		    	height: 468px;
		    	margin: 0 auto;
		    	position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%, -50%);  
			    transform: translate(-50%, -50%);   
		    }

			img
			{
				margin: 0 auto;
				padding-top: 60px;
			}
		}
	}
}